name: pdf_combiner
description: "It is a lightweight and efficient Flutter plugin designed to merge multiple PDF documents into a single file effortlessly."
version: 4.4.0
homepage: https://github.com/vicajilau/pdf_combiner
documentation: https://pub.dev/documentation/pdf_combiner/latest/

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  path: '>=1.8.0 <2.0.0'
  plugin_platform_interface: '>=2.0.2 <3.0.0'
  web: '>=1.0.0 <2.0.0'
  file_magic_number: '>=1.4.1 <2.0.0'

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: '>=5.0.0 <7.0.0'

platforms:
  android:
  ios:
  web:
  linux:
  macos:
  windows:

topics:
  - pdf
  - files
  - plugin
  - merge

flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' specifies the class (in Java, Kotlin, Swift, Objective-C, etc.)
  # which should be registered in the plugin registry. This is required for
  # using method channels.
  # The Android 'package' specifies package in which the registered class is.
  # This is required for using method channels on Android.
  # The 'ffiPlugin' specifies that native code should be built and bundled.
  # This is required for using `dart:ffi`.
  # All these are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.victorcarreras.pdf_combiner
        pluginClass: PdfCombinerPlugin
      ios:
        pluginClass: PdfCombinerPlugin
      fuchsia:
        pluginClass: PdfCombinerPlugin
      linux:
        pluginClass: PdfCombinerPlugin
      macos:
        pluginClass: PdfCombinerPlugin
      windows:
        pluginClass: PdfCombinerPluginCApi
      web:
        pluginClass: PdfCombinerWeb
        fileName: pdf_combiner_web.dart
    ffiPlugin: true

  # To add assets to your plugin package, add an assets section, like this:
  assets:
    - example/assets/
    - lib/web/assets/js/pdf_combiner.js
