name: ⭐ Integration Test ⭐ MacOS

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  Testing:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install MacOS Dependencies
        run: |
          sudo gem install cocoapods

      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v4

      - name: Install Flutter Dependencies
        run: flutter pub get

      - name: Run integration_test
        run: |
          cd example
          flutter test integration_test -d macos