name: ⭐ Integration Test ⭐ Windows

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  Testing:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v4

      - name: Enable Flutter Desktop
        run: flutter config --enable-windows-desktop

      - name: Install Flutter Dependencies
        run: flutter pub get

      - name: Run integration_test
        run: |
          cd example
          flutter test integration_test -d windows